<!-- <app-toolbar
  (selectAll)="selectAll()"
  (deleteSelected)="deleteSelected()"
  [isAnyChecked]="isAnyChecked"
  [users]="users"
  (saveSearchInput)="saveSearchInput($event)"
></app-toolbar>
<app-users-list
  #usersList
  [users]="users"
  [searchValue]="searchValue"
  (userSelected)="updateDeleteButtonState()"
></app-users-list> -->


<app-toolbar

  [isAnyChecked]="isAnyChecked"
  [users]="users"
  (saveSearchInput)="saveSearchInput($event)"
></app-toolbar>
<app-users-list
  #usersList
  [users]="users"
  [searchValue]="searchValue"
></app-users-list>